*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav{ 
    background: #3e8989;
 padding: 37px 167px;
}
.container{
   max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.nav__list-link,
.footer__list{
    font-weight: 500;
font-size: 16px;
color: #fff;    
}
.nav__content
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.nav__list{
    display: flex;
    gap: 30px;
}
.form{
    display: flex;
}
.form input{
font-size: 16px;
color: #898989;
border-radius: 20px 0 0 20px;
background: #fff;
font-weight: 400;
font-size: 16px;
color: #898989;
border: none;
outline: none;
padding: 8px 20px;
}
.form button{
background: #295e5e;
border-radius: 0 20px 20px 0;
width: 74px;
height: 35px;
font-weight: 400;
font-size: 14px;
color: #fff;
outline: none;
border: none;
}
.priview{
    min-height: 800px;
    background: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

}
.priview__title{
    font-weight: 600;
    font-size: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
   
}

    .priview__descr
    {
        font-weight: 500;
font-size: 40px;
color: #fff;
padding-top: 20px;

    }

.priview__list{
    font-weight: 600;
font-size: 18px;
color: #fff;
padding: 14px 77px;
border-radius: 30px;
width: 200px;
height: 50px;
background: #b4436c;
margin-top: 50px;
}
.info__content{
    margin-top: 80px;
}
.info__paxicion{
    width: 545px;
height: 188px;
display: flex; 
justify-content: flex-start;
align-items: center;
flex-direction: column;
flex-wrap:  wrap-reverse;
gap:20px;
padding-left: 20px;
margin-bottom: 64px;

}
.info__pazishion{
    display: flex;
    flex-direction: row-reverse;
   flex-wrap: wrap-reverse;
   flex-direction: row;
}

.info__title,
.box__naim
{
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
text-align: center;
padding-bottom: 50px;

}
.info__list{
    font-weight: 400;
font-size: 18px;
color: #000;

}
.info__list-text{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  
}

.box{
margin-top: 97px;
height: 460px;
}    
.box__item{
    display: flex;
  flex-wrap: wrap;
}
.photo__imag-Сlothes,
.photo__imag-Shoes,
.photo__imag-Tents,
.photo__imag-Backpacks{
    width: 263px;
height: 300px;
background: #efefef;

}

.tovara__title
{font-weight: 600;
    font-size: 24px;
    color: #000;
}
   .rong{
    display: flex;
gap: 20px;
}
.photo__imag-Сlothes{
   padding: 1px 32px 2px 33px;
}
.photo__imag-Shoes{
padding: 77px 22px;
}
.photo__imag-Tents{
    padding: 75px 1px;
}
.photo__imag-Backpacks{
    padding: 19px 0;
}
.tovara__title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-Сlothes{
     padding-top: 30px;
     }

.box-Shoes{
    padding-top: 108px;
  
    color: #b4436c;
}
.box-Tents{
    padding-top: 105px;

}
.box-Backpacks{
    padding-top:49px ;
}

.contacts{
  
min-height: 166px;
margin-top: 100px;

}

.contacts__item{
    display:flex ;
justify-content: space-between;
align-items: flex-start;
flex-direction:column ;
}
.contacts__title{  
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;

    
}
.contacts__info{
    font-weight: 400;
font-size: 20px;
color: #000;
width: 555px;
height: 48px;
padding-top: 40px;

}
.cont{
    display:flex ;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction:column ;
    padding-left: 950px;
    gap: 20px;
    
 
}
.contacts__list{
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.footer{
   background: #3e8989;

margin-top: 100px;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;

}

.footer__list-link{
    display: flex;
    font-weight: 400;
font-size: 14px;
color: #fff;
padding-bottom: 15px;
gap: 6px;   
}
.footer__stail{
    width: 261px;
height: 19px;   
display: flex;
justify-content: center;
gap: 30px;
}